@page "/"
@inject IJSRuntime JS

<h1 class="text-center">Hello, 🌎! &lt;/&gt;</h1>

<h4 class="text-center">Welcome to my website!</h4>
<p class="text-center">It's still a WIP (Work-in-progress) so please be patient with me! 🙏</p>

<br/>

<section id="intro" class="text-center">
    <h5 class="text-center">I'm</h5>
    <img src="./img/pic.jpg" style="width:100px; border-radius:50%;"/>
    <h5 class="text-center"><span class="primary">Abdullah</span> <span class="secondary">Alshibily</span></h5>
    <p class="text-uppercase">Full-Stack software engineer</p>
</section>

<section class="text-center d-inline">
    <p class="text-center m-auto w-75">
        I've always had a curiousity and interest in learning how computers and other electronics work both on a <span class="primary">software</span>
        and <span class="secondary">hardware</span> level. Now years later, I'm still doing the same thing! I'm very passionate about software and love
        talking and sharing my knowledge with anyone willing to listen.
    </p>
    <p class="text-center m-auto w-75">
        I've been a developer for 3+ years now. I've worked as a <span class="secondary">front-end</span> developer crafting <span class="primary">responsive</span> <span class="secondary">UI/UX</span>
        for users. As a <span class="primary">back-end</span> developer I've created, managed and maintained software applications and databases; this included documentation of the development process
        in addition to the creating detailed product usage documents. I've also created and documented APIs that connect to databases to get required data and perform pre-processing transformation/manipulations.
    </p>
</section>

<br/>

<h3 class="text-center">"Some" Of The Technologies/Skills I Know</h3>

<h6 class="m-3">Note: clicking on the cards below will open a page in a new tab</h6>

<section class="mt-3 mb-3">
    <div class="card-deck m-3">
        <div class="card p-1 custom-card" @onclick="@(() => Open("https://en.wikipedia.org/wiki/JavaScript"))">
            <img class="align-self-center" src="./img/js.png">
            <h4 class="card-text text-center mt-2 mb-2">JavaScript</h4>
        </div>
        <div class="card p-1 custom-card" @onclick="@(() => Open("https://en.wikipedia.org/wiki/HTML"))">
            <img class="align-self-center" src="./img/html.png">
            <h4 class="card-text text-center mt-2 mb-2">HTML</h4>
        </div>
        <div class="card p-1 custom-card" @onclick="@(() => Open("https://en.wikipedia.org/wiki/CSS"))">
            <img class="align-self-center" src="./img/css.png">
            <h4 class="card-text text-center mt-2 mb-2">CSS</h4>
        </div>
        <div class="card p-1 custom-card" @onclick="@(() => Open("https://en.wikipedia.org/wiki/SQL"))">
            <img class="align-self-center" src="./img/sql-icon-8.png">
            <h4 class="card-text text-center mt-2 mb-2">SQL</h4>
        </div>
    </div>
</section>

<section class="mt-3 mb-3">
    <div class="card-deck m-3">
        <div class="card p-1 custom-card" @onclick="@(() => Open("https://docs.microsoft.com/aspnet/core/blazor"))">
            <img class="align-self-center" src="./img/blazor.png">
            <h4 class="card-text text-center mt-2 mb-2">Blazor</h4>
        </div>
        <div class="card p-1 custom-card" @onclick="@(() => Open("https://docs.microsoft.com/en-us/dotnet/csharp/tutorials/intro-to-csharp/"))">
            <img class="align-self-center" src="./img/cs.png">
            <h4 class="card-text text-center mt-2 mb-2">C#</h4>
        </div>
        <div class="card p-1 custom-card" @onclick="@(() => Open("https://dotnet.microsoft.com/learn/dotnet/what-is-dotnet"))">
            <img class="align-self-center" src="./img/dotnetcore.png">
            <h4 class="card-text text-center mt-2 mb-2">.NET &amp; .NET Core 5</h4>
        </div>
        <div class="card p-1 custom-card" @onclick="@(() => Open("https://visualstudio.microsoft.com/"))">
            <img class="align-self-center" src="./img/visualstudio.png">
            <h4 class="card-text text-center mt-2 mb-2">Visual Studio</h4>
        </div>
        <div class="card p-1 custom-card" @onclick="@(() => Open("https://dotnet.microsoft.com/apps/xamarin"))">
            <img class="align-self-center" src="./img/xamarin.png">
            <h4 class="card-text text-center mt-2 mb-2">Xamarin</h4>
        </div>
    </div>
</section>

<section class="mt-3 mb-3">
    <div class="card-deck m-3">
        <div class="card p-1 custom-card" @onclick="@(() => Open("https://azure.microsoft.com/en-us/overview/what-is-azure/"))">
            <img class="align-self-center" src="./img/azure.png">
            <h4 class="card-text text-center mt-2 mb-2">Microsoft Azure</h4>
        </div>
        <div class="card p-1 custom-card" @onclick="@(() => Open("https://www.postman.com/"))">
            <img class="align-self-center" src="./img/postman.png">
            <h4 class="card-text text-center mt-2 mb-2">Postman</h4>
        </div>
        <div class="card p-1 custom-card" @onclick="@(() => Open("https://restfulapi.net/"))">
            <img class="align-self-center" src="./img/rest-api.png">
            <h4 class="card-text text-center mt-2 mb-2">RESTful API</h4>
        </div>
    </div>
</section>

<p>
    The links on the cards are opened using JavaScript Interop in which Javascript is called from C# code! Very cool for cases where we still have Javascript that we want to invoke. Either custom code that we've written or to call code from a JS package that we happened to import!
    <br />Pre-comiled source is <a href="https://github.com/aalshibily/website/blob/main/Pages/Index.razor" target="_blank">here</a>! <em>Note: Opens in new tab!</em>
</p>

@code {
    async void Open(string url)
    {
        //Use JS Interop to call the JavaScript 'open' fucntion, we're also passing a url/link and an additional target parameter
        await JS.InvokeVoidAsync("open", url, "_blank");
    }
}